apiVersion: v1
kind: PersistentVolume
metadata:
  name: grafana-persistent-volume
spec:
  storageClassName: grafana-manual
  capacity:
    storage: 5Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  local:
    path: /plexdata/grafana
  nodeAffinity:
    required:
      nodeSelectorTerms:
        - matchExpressions:
            - key: kubernetes.io/hostname
              operator: In
              values:
                - funnyserver
