apiVersion: apps/v1
kind: Deployment
metadata:
  name: metrics
spec:
  template:
    spec:
      containers:
        - name: metrics
          image: docker.io/funnyadd/metrics-a25-grp1-eq10:staging-20251115-232829-f38fc50 # {"$imagepolicy": "flux-system:metrics-staging"}
